.form_item
    border: 1px solid black
    border-radius: 12px
    display: flex
    flex-direction: column
    gap: 30px
    padding: 20px
    width: 350px
    .form_title
        font-size: 28px
        font-weight: 800
        margin-bottom: 24px
.message_err
    font-size: 12px
    color: #ef3b7d