.form_btn
    height: 48px
    width: 300px
    padding: 5px 15px
    display: flex
    margin: 5px 0
    align-items: center
    justify-content: center
    border-radius: 50px
    font-size: 16px
    font-weight: 700
    color: black
    cursor: pointer

.grey
    background-color: #b5b5b5
    border: 1px solid transparent
    transition: 0.3s
    &:hover
        background-color: #7a7a7a

.white
    background-color: white
    border: 1px solid #b5b5b5
    transition: 0.3s
    &:hover
        background-color: #f0f1f1

